In [70]:
import pandas as pd

## creates a pandas dataframe and fills the board with pieces in accordance with the FEN notation
df =  pd.DataFrame(columns=("a","b","c","d","e","f","g","H"))
# startFen = "RNBQKBNR/PPPPPPPP/8/8/8/8/pppppppp/rnbqkbnr"
startFen = "RNBQKBNR/PPPPPPPP"
numberString = "0123456789"

for i in range(0,8):
    df.loc[df.shape[0]] = ""

count = 0
for i in range(len(startFen)):
    if startFen[i] in numberString:
        count = count + int(startFen[i])
        for x in range(int(startFen[i])):
            df.iloc[(count//8), (count % 8)] = ""
    elif startFen[i] != "/":
        df.iloc[(count//8), (count % 8)] = startFen[i]
        count += 1

df

   a  b  c  d  e  f  g  H
0  R  N  B  Q  K  B  N  R
1  P  P  P  P  P  P  P  P
2
3
4
5
6
7

In [72]:
def kingPossibleMoves(capital, location):
    x = location[0]
    y = location[1]
    
    if x+1 < 8:
        if y+1 < 8:
            df.iloc[x+1, y+1] = "M"
        if y-1 >= 0:
            df.iloc[x+1, y-1] = "M"
    if x-1 >= 0: 
        if y+1 < 8:
            df.iloc[x-1, y+1] = "M"
        if y-1 >= 0:
            df.iloc[x-1, y-1] = "M"
    
    if x+1 < 8:
        df.iloc[x+1, y] = "M"
    if x-1 >= 0:
        df.iloc[x-1, y] = "M" 
    if y+1 < 8:
        df.iloc[x, y+1] = "M"
    if y-1 > 0:
        df.iloc[x, y-1] = "M"
        
kingPossibleMoves(True, [7,0])

df

   a  b  c  d  e  f  g  H
0  R  N  B  Q  K  B  N  R
1  P  P  P  P  P  P  P  P
2        M  M  M
3        M     M
4        M  M  M
5
6  M  M
7     M